* {
	margin: 0;
	padding: 0;
}

.content {
    padding: 10px;
    margin: 20px;
}
body {
	margin: 10px;
	
	background-color: #EEE;
	font-family: 'Roboto',sans-serif;
}
.container {
	max-width: 1000px;
	background-color: #46c0c0f5;
	margin: 0 auto
}
.profile-image {
	width: 100px;
	height: 120px;
	border :2px solid rgb(182, 241, 240);
	border-radius: 50%; 
	float: left;
	padding: 5px;
	margin: 10px;
}
.profile-bio {
	float: left;
	padding: 10px;
}
h1,h2,h3,h4 {
	 color: #11999e

}
.header-contact {
	float: right;
	padding: 30px;
}
.header-contact a {
	text-decoration: none;
	color: teal;
	font-weight: bold;
}
.header-contact a:hover{
	text-decoration: underline;
	color: tomato;
}
.div-clear {
	clear: both;
}
hr {
	border :solid black 3px;
	width: 99%;
	margin: 20px auto;
	border-bottom: none;
}

hr {
    max-width: 995px;
}